version: '3.8'

volumes:
  db-data:
    driver: local
  redis-data:
    driver: local

networks:
  app-network:
    driver: bridge

services:
#  nginx:
#    container_name: nginx
#
#  ab-tests-service:
#    container_name: ab-tests-service
#    ports:
#      - '8081:8081'

  ab-tests-db:
    container_name: ab-tests-db
    image: postgres:18.1-alpine
    environment:
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_USER: ${POSTGRES_USERNAME}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db-data:/var/lib/postgresql
    ports:
      - '5432:5432'

  ab-tests-redis:
    container_name: ab-tests-redis
    image: redis:7.2-alpine
    command: redis-server --requirepass ${REDIS_PASSWORD}
    volumes:
      - redis-data:/data
    ports:
      - '6379:6379'